/tmp
*/**/*un~
*/**/*.test
*un~
.DS_Store
*/**/.DS_Store
.ethtest
*/**/*tx_database*
*/**/*dapps*
build/_vendor/pkg
*.iml

#*
.#*
*#
*~
.project
.settings

# used by the Makefile
/build/_workspace/
/build/cache/
/build/bin/
/geth*.zip

# IdeaIDE
.idea

# VS Code
.vscode

# goenv
.go-version

# dashboard
/dashboard/assets/flow-typed
/dashboard/assets/node_modules
/dashboard/assets/stats.json
/dashboard/assets/bundle.js
/dashboard/assets/bundle.js.map
/dashboard/assets/package-lock.json

**/yarn-error.log

# QUORUM
generated-release-notes.md
build/PEEPS